name: "probing-eservice-operations"

serviceAccount:
  roleArn: "arn:aws:iam::{{.Values.local.awsAccountId}}:role/probing-be-eservice-operations-dev"

service:
  create: true
  portName: http
  containerPort: 8080

configmap:
  INTEROP_PROBING_OPERATIONS_APP_NAME: "pagopa-interop-probing-eservice-operations"
  TOLERANCE_MULTIPLIER_IN_MINUTES: "3"
  POLLING_FREQUENCY_THRESHOLD: "3"

deployment:
  flywayInitContainer:
    create: true
    version: "11.4.0"
    downloadRedshiftDriver: false
    migrationsConfigmap: "flyway-probing-store"
    env:
      FLYWAY_CREATE_SCHEMAS: true
      FLYWAY_PLACEHOLDER_REPLACEMENT: true
      FLYWAY_PLACEHOLDERS_NAMESPACE: "dev"
      FLYWAY_URL: jdbc:postgresql://$(DB_HOST):$(DB_PORT)/$(DB_NAME)
      FLYWAY_SCHEMAS: "dev_probing"
    envFromConfigmaps:
      DB_HOST: "common-probing-store.DB_HOST"
      DB_PORT: "common-probing-store.DB_PORT"
      DB_NAME: "common-probing-store.DB_NAME"
    envFromSecrets:
      FLYWAY_USER: "probing-operational-db-flyway-user-dev.username"
      FLYWAY_PASSWORD: "probing-operational-db-flyway-user-dev.password"

  env:
    HOST: "0.0.0.0"
    PORT: "8080"
  envFromConfigmaps:
    DB_HOST: "common-probing-store.DB_HOST"
    DB_PORT: "common-probing-store.DB_PORT"
    DB_NAME: "common-probing-store.DB_NAME"
    DB_SSL: "common-probing-store.DB_USE_SSL"
    DB_SCHEMA: "common-probing-store.DB_SCHEMA"
  envFromSecrets:
    DB_USERNAME: "probing-operational-db-eservice-operations-user-dev.username"
    DB_PASSWORD: "probing-operational-db-eservice-operations-user-dev.password"
